hr {
  width: 500px;
  height: 1px;
  border-top: 10px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: dotted;
  color: yellow;
}

a {
  color: yellow;
}

.maintance {
  font-weight: 100;
  width: 50%;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.image {
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 350px;
  float: right;
}

.exe {
  background-color: yellow;
  color: white;
  height: auto;
  width: 70%;
  font-family: sans-serif;
  font-weight: normal;
  line-height: normal;
  font-variant: small-caps;
  font-style: normal;
  text-decoration: overline;
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto;
}

#specificy {
  background-color: black;
  color: yellow;
  height: auto;
  width: auto;
}
